@media(min-width: 1185px) {
  .hCardContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .previewContainer {
    padding: 10px;
  }
}

.hCardContainer {
  background-color: white;
  border: solid 1px;
  margin: 2% 8%;
}

.wrapper {
  padding: 20px;
}

.formContainer {
  flex: 6;
  border: 1px #ccc solid;
  padding: 10px;
}

.previewContainer {
  background-color: #E7E9EC;
  flex: 6;
  border: 1px #ccc solid;
  padding: 90px;
}

@media (max-width: 1450px) {
  .hCardContainer {
    padding:0;
    margin:0;
  }

  body {
    padding:0;
  }

  .wrapper {
    margin: 0;
    border: 0;
    padding: 0;
  }
}

@media (max-width: 1185px) {
  .previewContainer {
    padding: 1% 10% 5%;
  }
}

@media (max-width: 720px) {
  .previewContainer {
    padding: 0;
    margin: 0 0 60px;
  }
}

